# Google Play Store Dataset - Data wrangling

Dataset from [Kaggle](https://www.kaggle.com/datasets/lava18/google-play-store-apps?select=googleplaystore.csv).

**When analysing data, I believe understanding the data at hand and looking at it thoroughly is important to ensure the realiability of the results from any analysis performed. This script walks through the process of getting a dataset, understanding it, and cleaning it for further analysis.**

## Table of contents:
* [Import relevant libraries](#import)
* [Read data](#read)
    * [Google play store](#df1)
    * [User reviews](#df2)
    * [Merged data](#df3)
* [Functions to clean columns](#functions)
* [Cleaning and checking each column](#cleancols)
    * [Category](#category)
    * [Rating](#rating)
    * [Reviews](#reviews)
    * [Size](#size)
    * [Installs](#installs)
    * [Type](#type)
    * [Price](#price)
    * [Content Rating](#content)
    * [Genres](#genres)
    * [Last Updated](#lastupdated)
    * [Current Ver](#currentver)
    * [Android Ver](#androidver)
    * [Clean data export](#export)

### Import relevant libraries <a class="anchor" id="import"></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import re as re

### Read data <a class="anchor" id="read"></a>

In [2]:
df1 = pd.read_csv('googleplaystore.csv')
df2 = pd.read_csv('googleplaystore_user_reviews.csv')

This is our df1 <a class="anchor" id="df1"></a>

In [3]:
df1.info()
df1.isnull().sum()
df1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

This is our df2 <a class="anchor" id="df2"></a>

In [4]:
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [5]:
df2.isnull().sum()

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

Check why so many null values

In [6]:
df2.sample(20)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
24815,Cat Sim Online: Play with Cats,NaN,NaN,NaN,NaN
52804,Garena Free Fire,This fun play problem I facing game working pr...,Positive,0.150000,0.410714
29622,Cougar Dating Life : Date Older Women Sugar Mummy,It nice app.You find many partners chat them.,Positive,0.550000,0.750000
31291,Cut the Rope FULL FREE,NaN,NaN,NaN,NaN
48569,Foursquare Swarm: Check In,I liked long time although I really liked much...,Positive,0.094444,0.577778
26737,Citizens Bank Mobile Banking,stopped working recently. Widget inaccurate. R...,Negative,-0.011458,0.316667
19475,"CBS Sports App - Scores, News, Stats & Watch Live",What hell happened My Scores tab? I care Cross...,Positive,0.500000,0.625000
6485,Amazon Kindle,Can't install Huawei p20 pro keep getting erro...,Neutral,0.000000,0.000000
10601,BBWCupid - BBW Dating App,Worked well come update and I can't get app......,Neutral,0.000000,0.000000
6741,Amazon for Tablets,NaN,NaN,NaN,NaN
54400,Goldstar: Live Event Tickets,Great deals,Positive,0.800000,0.750000
41402,"Expedia Hotels, Flights & Car Rental Travel Deals",It used better. I tried finding old trips hote...,Negative,-0.016667,0.566667
25161,"Chat Rooms, Avatars, Date - Galaxy",BEWARE OF THESE CHEATERS!! I topuped paytm tra...,Positive,0.109375,0.625000
46353,Fishdom,I crazy game. But started glitching letting fi...,Negative,-0.100000,0.662500
54520,Golf GPS by SwingxSwing,"Latest update good, still cannot share scoreca...",Positive,0.733333,0.600000
16748,Blur Image Background Editor (Blur Photo Editor),This first I found could actually edit picture...,Positive,0.315000,0.399167
44170,Fantasy Football,Where draft option?,Neutral,0.000000,0.000000
11324,Baby Monitor,Great,Positive,0.800000,0.750000
43469,Fallout Shelter,Very entertaining good while. Survival mode mu...,Negative,-0.036574,0.603889
18014,Bubble Shooter,Where levels??? Ive played available uninstall...,Positive,0.625000,0.400000

There are some columns wiht NaN so we can get rid of those as they possibly are empty reviews

In [7]:
df2 = df2.dropna()
df2.sample(20)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37427 entries, 0 to 64230
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     37427 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37427 non-null  object
 3   Sentiment_Polarity      37427 non-null  float64
 4   Sentiment_Subjectivity  37427 non-null  float64
dtypes: float64(2), object(3)
memory usage: 1.7+ MB

Merge both dfs <a class="anchor" id="df3"></a>

In [8]:
df3 = pd.merge(df1,df2, on = 'App', indicator=True, how = 'outer')

In [9]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83715 entries, 0 to 83714
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     83715 non-null  object
 1   Category                82217 non-null  object
 2   Rating                  80705 non-null  float64
 3   Reviews                 82217 non-null  object
 4   Size                    82217 non-null  object
 5   Installs                82217 non-null  object
 6   Type                    82216 non-null  object
 7   Price                   82217 non-null  object
 8   Content Rating          82216 non-null  object
 9   Genres                  82217 non-null  object
 10  Last Updated            82217 non-null  object
 11  Current Ver             82209 non-null  object
 12  Android Ver             82214 non-null  object
 13  Translated_Review       74103 non-null  object
 14  Sentiment               74103 non-null  object
 15  Sentiment_Polarity      74103 non-null  float64
 16  Sentiment_Subjectivity  74103 non-null  float64
 17  _merge                  83715 non-null  category
dtypes: category(1), float64(3), object(14)
memory usage: 11.6+ MB

Checking if merge went well, randomly selected an App to check

In [10]:
df_test1 = df1[df1['App'] == 'Coloring book moana']
df_test1

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2033,Coloring book moana,FAMILY,3.9,974,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [11]:
df_test2 = df2[df2['App'] == 'Coloring book moana']
df_test2.info()
df_test2.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44 entries, 28538 to 28594
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     44 non-null     object
 1   Translated_Review       44 non-null     object
 2   Sentiment               44 non-null     object
 3   Sentiment_Polarity      44 non-null     float64
 4   Sentiment_Subjectivity  44 non-null     float64
dtypes: float64(2), object(3)
memory usage: 2.1+ KB

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
28538,Coloring book moana,A kid's excessive ads. The types ads allowed a...,Negative,-0.250,1.000000
28539,Coloring book moana,It bad >:(,Negative,-0.725,0.833333
28540,Coloring book moana,like,Neutral,0.000,0.000000
28542,Coloring book moana,I love colors inspyering,Positive,0.500,0.600000
28543,Coloring book moana,I hate,Negative,-0.800,0.900000

In [12]:
df_test3 = df3[df3['App'] == 'Coloring book moana']
df_test3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88 entries, 1 to 88
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     88 non-null     object
 1   Category                88 non-null     object
 2   Rating                  88 non-null     float64
 3   Reviews                 88 non-null     object
 4   Size                    88 non-null     object
 5   Installs                88 non-null     object
 6   Type                    88 non-null     object
 7   Price                   88 non-null     object
 8   Content Rating          88 non-null     object
 9   Genres                  88 non-null     object
 10  Last Updated            88 non-null     object
 11  Current Ver             88 non-null     object
 12  Android Ver             88 non-null     object
 13  Translated_Review       88 non-null     object
 14  Sentiment               88 non-null     object
 15  Sentiment_Polarity      88 non-null     float64
 16  Sentiment_Subjectivity  88 non-null     float64
 17  _merge                  88 non-null     category
dtypes: category(1), float64(3), object(14)
memory usage: 12.6+ KB

It looks like the merge duplicated the number of rows, will now check that

In [13]:
df_test3.duplicated()

1     False
2     False
3     False
4     False
5     False
      ...
84     True
85     True
86     True
87     True
88     True
Length: 88, dtype: bool

In [14]:
df3 = df3.drop_duplicates(keep = 'last')
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51135 entries, 0 to 83714
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     51135 non-null  object
 1   Category                49693 non-null  object
 2   Rating                  48191 non-null  float64
 3   Reviews                 49693 non-null  object
 4   Size                    49693 non-null  object
 5   Installs                49693 non-null  object
 6   Type                    49692 non-null  object
 7   Price                   49693 non-null  object
 8   Content Rating          49692 non-null  object
 9   Genres                  49693 non-null  object
 10  Last Updated            49693 non-null  object
 11  Current Ver             49685 non-null  object
 12  Android Ver             49690 non-null  object
 13  Translated_Review       41856 non-null  object
 14  Sentiment               41856 non-null  object
 15  Sentiment_Polarity      41856 non-null  float64
 16  Sentiment_Subjectivity  41856 non-null  float64
 17  _merge                  51135 non-null  category
dtypes: category(1), float64(3), object(14)
memory usage: 7.1+ MB

Looks like we got rid of the duplicates now

In [15]:
df3.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity,_merge
38142,Cut the Rope FULL FREE,GAME,4.4,2123381,49M,"100,000,000+",Free,0,Everyone,Puzzle,"July 5, 2018",3.7.2,4.1 and up,Great game - addictive. The ads really annoyin...,Negative,-0.100000,0.737500,both
33642,8 Ball Pool,SPORTS,4.5,14184910,52M,"100,000,000+",Free,0,Everyone,Sports,"July 31, 2018",4.0.0,4.0.3 and up,I would give 5 stars took away lag freezes eve...,Positive,0.231250,0.687500,both
47203,Garden Fruit Legend,FAMILY,4.6,4289,33M,"500,000+",Free,0,Everyone,Casual;Brain Games,"July 31, 2018",3.5.3183,4.0.3 and up,"I really like playing game, ask card informati...",Negative,-0.400000,0.333333,both
64946,App vault,TOOLS,3.4,25094,Varies with device,"10,000,000+",Free,0,Everyone,Tools,"July 18, 2018",Varies with device,Varies with device,"I'm using Mi 5S I found useful me, want turn o...",Positive,0.300000,0.000000,both
75922,Theme Android P Design for LG V30,PERSONALIZATION,4.2,35,5.2M,500+,Paid,$1.49,Everyone,Personalization,"April 26, 2018",1.33,7.0 and up,NaN,NaN,NaN,NaN,left_only
64383,Moto Display,TOOLS,4.2,18239,Varies with device,"10,000,000+",Free,0,Everyone,Tools,"August 6, 2018",Varies with device,Varies with device,NaN,NaN,NaN,NaN,left_only
47797,Fuzzy Seasons: Animal Forest,FAMILY,4.8,12137,63M,"100,000+",Free,0,Everyone 10+,Simulation;Pretend Play,"August 6, 2018",149,4.1 and up,v cute. If like art style u like game. One pro...,Positive,0.050000,0.700000,both
62501,Airbnb,TRAVEL_AND_LOCAL,4.4,359403,Varies with device,"10,000,000+",Free,0,Everyone,Travel & Local,"August 2, 2018",Varies with device,Varies with device,"I enjoyed using airbnb much, however particula...",Positive,0.180952,0.444048,both
14868,HBO GO: Stream with TV Package,ENTERTAINMENT,3.8,87723,32M,"10,000,000+",Free,0,Teen,Entertainment,"July 19, 2018",16.0.0.437,4.1 and up,We used great success 3 months ago got buggy i...,Negative,-0.213333,0.570000,both
4373,Emmanuella Funny Videos 2018,COMICS,4.5,314,6.1M,"100,000+",Free,0,Everyone,Comics,"May 23, 2018",3.1.0,4.1 and up,NaN,NaN,NaN,NaN,left_only

It is clear by the last column that some Apps only had info in df1, and some only had info in df2. I have decided to leave it like that for now because we do not want to lose data from df1 as some analyses will only need df1.

Some more data cleaning is necessary. Let's look at the data for each column and see what needs to be cleanned. I will define two functions: one to look at string columns, and one to look at number columns. <a class="anchor" id="functions"></a>

In [16]:
def str_info_column(df,col_name):
    col = df[col_name]
    info = {
        'name': col_name,
        'unique values': col.unique(),
        'value counts': col.value_counts()
    }
    return info

In [17]:
def n_info_column(df,col_name):
    col = df[col_name]
    info = {
        'name': col_name,
        'min': col.min(),
        'max': col.max(),
        'value counts':col.value_counts()
    }
    return info

Let us go column by column now <a class="anchor" id="cleancols"></a>

Category column <a class="anchor" id="category"></a>

In [18]:
str_info_column(df3,'Category')

{'name': 'Category',
 'unique values': array(['ART_AND_DESIGN', 'FAMILY', 'AUTO_AND_VEHICLES', 'BEAUTY',
        'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMMUNICATION', 'COMICS',
        'DATING', 'TOOLS', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS',
        'FINANCE', 'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'MEDICAL',
        'HOUSE_AND_HOME', 'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME',
        'SPORTS', 'VIDEO_PLAYERS', 'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY',
        'TRAVEL_AND_LOCAL', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING',
        'WEATHER', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION', '1.9', nan],
       dtype=object),
 'value counts': GAME                   10247
 FAMILY                  5398
 TOOLS                   2450
 HEALTH_AND_FITNESS      2150
 PRODUCTIVITY            2015
 TRAVEL_AND_LOCAL        1949
 SPORTS                  1921
 FINANCE                 1894
 PHOTOGRAPHY             1802
 MEDICAL                 1679
 DATING                  1638
 COMMUNICATION           1607
 PERSONALIZATION         1538
 LIFESTYLE               1289
 SOCIAL                  1229
 BUSINESS                1206
 SHOPPING                1186
 NEWS_AND_MAGAZINES      1132
 ENTERTAINMENT            952
 BOOKS_AND_REFERENCE      923
 EDUCATION                842
 FOOD_AND_DRINK           765
 HOUSE_AND_HOME           567
 VIDEO_PLAYERS            492
 ART_AND_DESIGN           409
 LIBRARIES_AND_DEMO       408
 BEAUTY                   364
 AUTO_AND_VEHICLES        360
 MAPS_AND_NAVIGATION      319
 PARENTING                308
 WEATHER                  301
 EVENTS                   215
 COMICS                   137
 1.9                        1
 Name: Category, dtype: int64}

There is a strange '1.9', let's investigate that.

In [19]:
df3[df3['Category'] == '1.9']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity,_merge
81857,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,NaN,NaN,NaN,NaN,left_only

Looks like this is possibly an error, so we will replace it with a nan

In [20]:
df3['Category'] = df3['Category'].replace('1.9', None)

In [21]:
df3.Category.unique()

array(['ART_AND_DESIGN', 'FAMILY', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMMUNICATION', 'COMICS',
       'DATING', 'TOOLS', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS',
       'FINANCE', 'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'MEDICAL',
       'HOUSE_AND_HOME', 'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME',
       'SPORTS', 'VIDEO_PLAYERS', 'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY',
       'TRAVEL_AND_LOCAL', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING',
       'WEATHER', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION', nan],
      dtype=object)

Rating column <a class="anchor" id="rating"></a>

In [22]:
n_info_column(df3,'Rating')

{'name': 'Rating',
 'min': 1.0,
 'max': 19.0,
 'value counts': 4.4     7381
 4.5     7080
 4.3     6670
 4.6     6240
 4.2     5262
 4.1     3600
 4.7     3012
 4.0     2325
 3.9     1746
 3.8     1023
 3.7      751
 4.8      586
 3.5      441
 3.4      359
 3.6      346
 5.0      271
 3.1      185
 4.9      182
 3.0      143
 3.3      138
 3.2      102
 2.7       60
 2.6       54
 2.9       45
 2.8       40
 2.5       20
 2.3       20
 2.4       19
 1.0       16
 2.2       14
 2.0       12
 1.9       12
 1.7        8
 1.8        8
 2.1        8
 1.6        4
 1.4        3
 1.5        3
 1.2        1
 19.0       1
 Name: Rating, dtype: int64}

is it possible to have 19 as max in Rating?

It looks like this number is an error. It looks like this row is the same row we had before with '1.9'as the category. Looking closely one can see that all entries are slightly off - possibly when scraping something went wrong with the Category and all observations are misplaced in the wrong collumn.  I'll get rid of this row.

In [23]:
df3 = df3[df3.Rating < 5]

Reviews column <a class="anchor" id="reviews"></a>

In [24]:
n_info_column(df3,'Reviews')

{'name': 'Reviews',
 'min': '1',
 'max': '9992',
 'value counts': 78158306    130
 78128208    130
 13791       126
 1842381     124
 1841061     124
            ...
 7529865       1
 93726         1
 597068        1
 823109        1
 398307        1
 Name: Reviews, Length: 5992, dtype: int64}

It looks like pandas is not reading this collumn as a number collumn, but rather as text. this could get tricky in some analyses. So let's just convert that to float.

In [25]:
df3['Reviews'] = df3['Reviews'].astype(float)

So when we re run the min and max we get numbers now!

Size column <a class="anchor" id="size"></a>

In [26]:
n_info_column(df3,'Size')

{'name': 'Size',
 'min': '1.0M',
 'max': 'Varies with device',
 'value counts': Varies with device    14999
 11M                     942
 97M                     937
 14M                     861
 24M                     840
                       ...
 442k                      1
 842k                      1
 412k                      1
 459k                      1
 619k                      1
 Name: Size, Length: 406, dtype: int64}

it would be useful if we could have a way to transform these strings into numbers so we can do some analyses in the future - for example, does size influence the decision do donwload the app?

In [27]:
df3['Size'] = df3['Size'].str.replace('M', '000000', regex=True)

In [28]:
df3['Size'] = df3['Size'].str.replace('k', '00000', regex=True)

In [29]:
df3['Size'] = df3['Size'].replace('Varies with device', None)

In [30]:
df3['Size'] = df3['Size'].astype(float)

Installs column <a class="anchor" id="installs"></a>

In [31]:
df3['Installs'] = df3['Installs'].str.replace('+', '', regex=True) 
df3['Installs'] = df3['Installs'].str.replace(',', '', regex=True)

In [32]:
df3['Installs'] = df3['Installs'].astype(int)

Type column <a class="anchor" id="type"></a>

In [33]:
n_info_column(df3,'Type')

{'name': 'Type',
 'min': 'Free',
 'max': 'Paid',
 'value counts': Free    46975
 Paid      944
 Name: Type, dtype: int64}

Price column <a class="anchor" id="price"></a>

In [34]:
n_info_column(df3,'Price')

{'name': 'Price',
 'min': '$0.99',
 'max': '0',
 'value counts': 0          46975
 $0.99        153
 $3.99        124
 $2.99        108
 $4.99        103
            ...
 $1.59          1
 $6.49          1
 $1.29          1
 $299.99        1
 $1.20          1
 Name: Price, Length: 71, dtype: int64}

In [35]:
df3['Price'] = df3['Price'].str.replace('$', '', regex=True)

In [36]:
df3['Price'] = df3['Price'].astype(float)

Content rating column <a class="anchor" id="content"></a>

In [37]:
n_info_column(df3,'Content Rating')

{'name': 'Content Rating',
 'min': 'Adults only 18+',
 'max': 'Unrated',
 'value counts': Everyone           37288
 Teen                6275
 Mature 17+          2418
 Everyone 10+        1900
 Adults only 18+       37
 Unrated                1
 Name: Content Rating, dtype: int64}

Genres column <a class="anchor" id="genres"></a>

In [38]:
str_info_column(df3,'Genres')

{'name': 'Genres',
 'unique values': array(['Art & Design', 'Art & Design;Pretend Play',
        'Art & Design;Creativity', 'Auto & Vehicles', 'Beauty',
        'Books & Reference', 'Business', 'Communication', 'Comics',
        'Comics;Creativity', 'Dating', 'Tools', 'Education;Education',
        'Education', 'Education;Creativity', 'Education;Music & Video',
        'Education;Action & Adventure', 'Education;Pretend Play',
        'Education;Brain Games', 'Entertainment',
        'Entertainment;Music & Video', 'Entertainment;Brain Games',
        'Entertainment;Creativity', 'Events', 'Finance', 'Food & Drink',
        'Health & Fitness', 'Medical', 'House & Home', 'Libraries & Demo',
        'Lifestyle', 'Lifestyle;Pretend Play',
        'Adventure;Action & Adventure', 'Arcade', 'Casual', 'Card',
        'Card;Brain Games', 'Puzzle;Brain Games', 'Casual;Pretend Play',
        'Action', 'Strategy', 'Puzzle', 'Sports', 'Music', 'Word',
        'Racing', 'Casual;Creativity', 'Casual;Action & Adventure',
        'Simulation', 'Adventure', 'Board', 'Trivia', 'Role Playing',
        'Simulation;Education', 'Action;Action & Adventure',
        'Casual;Brain Games', 'Simulation;Action & Adventure',
        'Educational;Creativity', 'Educational;Education',
        'Educational;Brain Games', 'Educational;Pretend Play',
        'Entertainment;Education', 'Casual;Education',
        'Music;Music & Video', 'Racing;Action & Adventure',
        'Arcade;Pretend Play', 'Role Playing;Action & Adventure',
        'Simulation;Pretend Play', 'Puzzle;Creativity',
        'Sports;Action & Adventure', 'Educational;Action & Adventure',
        'Arcade;Action & Adventure', 'Entertainment;Action & Adventure',
        'Puzzle;Action & Adventure', 'Strategy;Action & Adventure',
        'Music & Audio;Music & Video', 'Health & Fitness;Education',
        'Adventure;Education', 'Board;Brain Games',
        'Board;Action & Adventure', 'Board;Pretend Play',
        'Casual;Music & Video', 'Role Playing;Pretend Play',
        'Entertainment;Pretend Play', 'Video Players & Editors;Creativity',
        'Video Players & Editors', 'Card;Action & Adventure', 'Social',
        'Shopping', 'Photography', 'Travel & Local',
        'Travel & Local;Action & Adventure', 'Tools;Education',
        'Personalization', 'Productivity', 'Parenting',
        'Parenting;Music & Video', 'Parenting;Brain Games',
        'Parenting;Education', 'Weather',
        'Video Players & Editors;Music & Video', 'News & Magazines',
        'Maps & Navigation', 'Health & Fitness;Action & Adventure',
        'Educational', 'Casino', 'Adventure;Brain Games',
        'Lifestyle;Education', 'Books & Reference;Education',
        'Puzzle;Education', 'Role Playing;Brain Games',
        'Strategy;Education', 'Racing;Pretend Play',
        'Communication;Creativity', 'Strategy;Creativity'], dtype=object),
 'value counts': Action                         3463
 Sports                         2439
 Tools                          2323
 Health & Fitness               2094
 Productivity                   1934
                                ...
 Health & Fitness;Education        1
 Music & Audio;Music & Video       1
 Entertainment;Education           1
 Arcade;Pretend Play               1
 Strategy;Creativity               1
 Name: Genres, Length: 115, dtype: int64}

It looks like the Genre 'Education' is appearing twice because there is a space in one of the instances. Also, there is "educational". So let's fix that and have only one 'Education'.

In [39]:
df3['Genres'] = df3['Genres'].str.replace('Education ', 'Education', regex=True) 
df3['Genres'] = df3['Genres'].str.replace('Educational', 'Education', regex=True)

we could also split the ones with more than one genre into two columns

In [40]:
df3[['Genre1', 'Genre2']] = df3['Genres'].str.split(';', expand=True)

In [41]:
df3.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity,_merge,Genre1,Genre2
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19000000.0,10000,Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,NaN,NaN,NaN,NaN,left_only,Art & Design,None
23,Coloring book moana,ART_AND_DESIGN,3.9,967.0,14000000.0,500000,Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,A kid's excessive ads. The types ads allowed a...,Negative,-0.250,1.000000,both,Art & Design,Pretend Play
24,Coloring book moana,ART_AND_DESIGN,3.9,967.0,14000000.0,500000,Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,It cute.,Positive,0.500,1.000000,both,Art & Design,Pretend Play
25,Coloring book moana,ART_AND_DESIGN,3.9,967.0,14000000.0,500000,Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,It bad >:(,Negative,-0.725,0.833333,both,Art & Design,Pretend Play
26,Coloring book moana,ART_AND_DESIGN,3.9,967.0,14000000.0,500000,Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,like,Neutral,0.000,0.000000,both,Art & Design,Pretend Play

Last Updated column <a class="anchor" id="lastupdated"></a>

In [42]:
n_info_column(df3,'Last Updated')

{'name': 'Last Updated',
 'min': 'April 1, 2016',
 'max': 'September 9, 2016',
 'value counts': July 31, 2018        3331
 August 3, 2018       2464
 August 2, 2018       2199
 August 1, 2018       2046
 August 6, 2018       1383
                      ...
 November 16, 2015       1
 March 28, 2016          1
 April 17, 2014          1
 April 11, 2016          1
 March 23, 2014          1
 Name: Last Updated, Length: 1288, dtype: int64}

In [43]:
df3['Last Updated'].sample(20)

45351        July 5, 2018
80998       July 31, 2018
9201       August 1, 2018
38344       July 12, 2018
45462       July 23, 2018
57150       July 16, 2018
13195       July 24, 2018
42174      August 4, 2018
28011     January 9, 2018
57483    January 19, 2017
58963      August 4, 2018
4256       August 2, 2018
53085       July 25, 2015
42317      August 1, 2018
12527      August 3, 2018
55248       July 30, 2018
55349       July 28, 2018
51939      August 3, 2018
25843        July 5, 2018
74569       July 12, 2018
Name: Last Updated, dtype: object

all good with this column

Current Ver column <a class="anchor" id="currentver"></a>

In [44]:
str_info_column(df3,'Current Ver')

{'name': 'Current Ver',
 'unique values': array(['1.0.0', '2.0.0', '1.2.4', ..., '1.5.447', '1.0.612928', '0.3.4'],
       dtype=object),
 'value counts': Varies with device    12199
 1.0.6                   675
 4.0.0                   674
 1.0                     579
 7.9.3                   535
                       ...
 17.4.11                   1
 6.7.15.7                  1
 1.8.7.0                   1
 5.1.10                    1
 0.3.4                     1
 Name: Current Ver, Length: 2608, dtype: int64}

In [45]:
df3['Current Ver'].sample(20)

9180                 12.0.4
59879                 3.0.5
24279                   8.0
44515                 1.7.1
72084                  2.71
1837                7.0.4.6
41653                 2.0.6
64394                 3.1.2
45061                2.11.1
81120              2.2.2926
60588                 8.9.3
20479                 3.5.0
62946                 7.8.0
67336                  18.0
59543    Varies with device
60338    Varies with device
51485                 4.0.9
47582    Varies with device
75956                 2.4.8
11502    Varies with device
Name: Current Ver, dtype: object

all good with thsi column!

Android Ver column <a class="anchor" id="androidver"></a>

In [46]:
df3['Android Ver'].value_counts()

Varies with device    11444
4.1 and up            10763
4.0.3 and up           7147
4.4 and up             4437
4.0 and up             3747
5.0 and up             3153
2.3 and up             2129
4.2 and up             1542
3.0 and up              676
2.3.3 and up            655
4.3 and up              563
6.0 and up              416
2.2 and up              382
2.1 and up              304
1.6 and up              152
7.0 and up              110
3.2 and up               65
2.0 and up               58
1.5 and up               53
7.1 and up               42
4.0.3 - 7.1.1            33
5.1 and up               15
3.1 and up                8
2.0.1 and up              6
4.4W and up               5
8.0 and up                4
5.0 - 8.0                 3
1.0 and up                2
7.0 - 7.1.1               1
4.1 - 7.1.1               1
5.0 - 6.0                 1
Name: Android Ver, dtype: int64

In [47]:
df3['Android Ver'].sample(20)

5564             5.0 and up
58157            4.0 and up
49032            4.1 and up
31466            4.1 and up
25385            4.0 and up
13135    Varies with device
49080            4.1 and up
66853            2.3 and up
49672            4.4 and up
39944            4.1 and up
16731            4.4 and up
66278          4.0.3 and up
77404            5.0 and up
77088            2.3 and up
38697          4.0.3 and up
5012     Varies with device
3022             4.1 and up
15814    Varies with device
56974    Varies with device
64967            8.0 and up
Name: Android Ver, dtype: object

all good with this column!

Clean data export Category column <a class="anchor" id="export"></a>

In [177]:
df3.to_excel("clean-data.xlsx")

What is the most expensive app?

In [59]:
df3[df3['Category'] == 'LIFESTYLE'].sort_values(by = 'Price',ascending=False)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity,_merge,Genre1,Genre2
75837,I'm Rich - Trump Edition,LIFESTYLE,3.6,275.0,7.3,10000,Paid,400.00,Everyone,Lifestyle,"May 3, 2018",1.0.1,4.1 and up,NaN,NaN,NaN,NaN,left_only,Lifestyle,None
75833,💎 I'm rich,LIFESTYLE,3.8,718.0,26000000.0,10000,Paid,399.99,Everyone,Lifestyle,"March 11, 2018",1.0.0,4.4 and up,NaN,NaN,NaN,NaN,left_only,Lifestyle,None
76794,I am rich,LIFESTYLE,3.8,3547.0,1.8,100000,Paid,399.99,Everyone,Lifestyle,"January 12, 2018",2.0,4.0.3 and up,NaN,NaN,NaN,NaN,left_only,Lifestyle,None
76799,I am extremely Rich,LIFESTYLE,2.9,41.0,2.9,1000,Paid,379.99,Everyone,Lifestyle,"July 1, 2018",1.0,4.0 and up,NaN,NaN,NaN,NaN,left_only,Lifestyle,None
76797,I am rich VIP,LIFESTYLE,3.8,411.0,2.6,10000,Paid,299.99,Everyone,Lifestyle,"July 21, 2018",1.1.1,4.3 and up,NaN,NaN,NaN,NaN,left_only,Lifestyle,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24715,Family Locator - GPS Tracker,LIFESTYLE,4.4,726074.0,45000000.0,10000000,Free,0.00,Everyone,Lifestyle,"August 2, 2018",16.7.1,4.4 and up,"It works, always accurate, showing driving woo...",Positive,0.033333,0.844444,both,Lifestyle,None
24714,Family Locator - GPS Tracker,LIFESTYLE,4.4,726074.0,45000000.0,10000000,Free,0.00,Everyone,Lifestyle,"August 2, 2018",16.7.1,4.4 and up,Stopped working new update. It show location t...,Positive,0.136364,0.454545,both,Lifestyle,None
24713,Family Locator - GPS Tracker,LIFESTYLE,4.4,726074.0,45000000.0,10000000,Free,0.00,Everyone,Lifestyle,"August 2, 2018",16.7.1,4.4 and up,Creepy needed. For people sure. But ability fi...,Positive,0.166667,0.796296,both,Lifestyle,None
24712,Family Locator - GPS Tracker,LIFESTYLE,4.4,726074.0,45000000.0,10000000,Free,0.00,Everyone,Lifestyle,"August 2, 2018",16.7.1,4.4 and up,It's used work great using iphone. But changed...,Positive,0.025000,0.750000,both,Lifestyle,None
82216,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307.0,19000000.0,10000000,Free,0.00,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device,NaN,NaN,NaN,NaN,left_only,Lifestyle,None

Which one is the highest rated app?

In [61]:
df3.sort_values(by = ['Rating','Reviews'],ascending=False)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity,_merge,Genre1,Genre2
81007,JW Library,BOOKS_AND_REFERENCE,4.9,922752.0,13000000.0,10000000,Free,0.0,Everyone,Books & Reference,"June 15, 2018",Varies with device,Varies with device,NaN,NaN,NaN,NaN,left_only,Books & Reference,None
18537,Six Pack in 30 Days - Abs Workout,HEALTH_AND_FITNESS,4.9,272337.0,13000000.0,10000000,Free,0.0,Everyone,Health & Fitness,"June 21, 2018",1.0.2,4.2 and up,NaN,NaN,NaN,NaN,left_only,Health & Fitness,None
18538,Six Pack in 30 Days - Abs Workout,HEALTH_AND_FITNESS,4.9,272172.0,13000000.0,10000000,Free,0.0,Everyone,Health & Fitness,"June 21, 2018",1.0.2,4.2 and up,NaN,NaN,NaN,NaN,left_only,Health & Fitness,None
620,Tickets + PDA 2018 Exam,AUTO_AND_VEHICLES,4.9,197136.0,38000000.0,1000000,Free,0.0,Everyone,Auto & Vehicles,"July 15, 2018",8.31,4.1 and up,NaN,NaN,NaN,NaN,left_only,Auto & Vehicles,None
11529,"Learn Japanese, Korean, Chinese Offline & Free",EDUCATION,4.9,133136.0,26000000.0,1000000,Free,0.0,Everyone,Education;Education,"July 20, 2018",2.16.11.10,4.2 and up,NaN,NaN,NaN,NaN,left_only,Education,Education
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77828,BJ Bridge Standard American 2018,GAME,1.0,1.0,4.9,1000,Free,0.0,Everyone,Card,"May 21, 2018",6.2-sayc,4.0 and up,NaN,NaN,NaN,NaN,left_only,Card,None
77996,MbH BM,MEDICAL,1.0,1.0,2.3,100,Free,0.0,Everyone,Medical,"December 14, 2016",1.1.3,4.3 and up,NaN,NaN,NaN,NaN,left_only,Medical,None
78853,Thistletown CI,PRODUCTIVITY,1.0,1.0,6.6,100,Free,0.0,Everyone,Productivity,"March 15, 2018",41.9,4.1 and up,NaN,NaN,NaN,NaN,left_only,Productivity,None
79264,CR Magazine,BUSINESS,1.0,1.0,7.8,100,Free,0.0,Everyone,Business,"July 23, 2014",2.4.2,2.3.3 and up,NaN,NaN,NaN,NaN,left_only,Business,None
80275,DT future1 cam,TOOLS,1.0,1.0,24000000.0,50,Free,0.0,Everyone,Tools,"March 27, 2018",3.1,2.2 and up,NaN,NaN,NaN,NaN,left_only,Tools,None

which is the most downloaded free app?

In [65]:
df3.sort_values(by = ['Installs', 'Reviews', 'Rating'],ascending=False)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity,_merge,Genre1,Genre2
51698,Facebook,SOCIAL,4.1,78158306.0,2.2,1000000000,Free,0.00,Teen,Social,"August 3, 2018",Varies with device,Varies with device,"If I open link different browser, refreshes fe...",Positive,0.080096,0.343251,both,Social,None
51699,Facebook,SOCIAL,4.1,78158306.0,2.2,1000000000,Free,0.00,Teen,Social,"August 3, 2018",Varies with device,Varies with device,I believe lot Google need slow little. There e...,Positive,0.103356,0.533796,both,Social,None
51700,Facebook,SOCIAL,4.1,78158306.0,2.2,1000000000,Free,0.00,Teen,Social,"August 3, 2018",Varies with device,Varies with device,I know went wrong app. I issues facebook visit...,Negative,-0.366667,0.544444,both,Social,None
51701,Facebook,SOCIAL,4.1,78158306.0,2.2,1000000000,Free,0.00,Teen,Social,"August 3, 2018",Varies with device,Varies with device,1 star can't move photos timeline post album. ...,Negative,-0.405556,0.625000,both,Social,None
51702,Facebook,SOCIAL,4.1,78158306.0,2.2,1000000000,Free,0.00,Teen,Social,"August 3, 2018",Varies with device,Varies with device,"This used work well, past 2 months I gotten no...",Positive,0.116667,0.425000,both,Social,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80245,PhotoFrame for Synology DS,PHOTOGRAPHY,4.0,1.0,2.6,10,Paid,4.99,Everyone,Photography,"February 2, 2017",1.5,4.0 and up,NaN,NaN,NaN,NaN,left_only,Photography,None
79679,LC-DB,PHOTOGRAPHY,3.0,1.0,2.5,10,Paid,3.49,Everyone,Photography,"October 20, 2017",1.0,4.2 and up,NaN,NaN,NaN,NaN,left_only,Photography,None
9744,House party - live chat,DATING,1.0,1.0,9.2,10,Free,0.00,Mature 17+,Dating,"July 31, 2018",3.52,4.0.3 and up,NaN,NaN,NaN,NaN,left_only,Dating,None
75636,Speech Therapy: F,FAMILY,1.0,1.0,16000000.0,10,Paid,2.99,Everyone,Education,"October 7, 2016",1.0,2.3.3 and up,NaN,NaN,NaN,NaN,left_only,Education,None
81945,FK Atlantas,SPORTS,1.5,2.0,26000000.0,5,Free,0.00,Everyone,Sports,"February 21, 2018",1.0,4.1 and up,NaN,NaN,NaN,NaN,left_only,Sports,None

which is the most downloaded photography free app?

In [66]:
df3[df3['Category'] == 'PHOTOGRAPHY'].sort_values(by = 'Installs',ascending=False)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity,_merge,Genre1,Genre2
55981,Google Photos,PHOTOGRAPHY,4.5,10859051.0,28000000.0,1000000000,Free,0.00,Everyone,Photography,"August 6, 2018",Varies with device,Varies with device,Best part Google Photos unlimited storage spac...,Positive,0.505208,0.427315,both,Photography,None
55925,Google Photos,PHOTOGRAPHY,4.5,10859051.0,28000000.0,1000000000,Free,0.00,Everyone,Photography,"August 6, 2018",Varies with device,Varies with device,Its great alot issues. You able organize order...,Positive,0.200000,0.576190,both,Photography,None
55954,Google Photos,PHOTOGRAPHY,4.5,10859051.0,28000000.0,1000000000,Free,0.00,Everyone,Photography,"August 6, 2018",Varies with device,Varies with device,Everything good except option select folders u...,Positive,0.600000,0.550000,both,Photography,None
55953,Google Photos,PHOTOGRAPHY,4.5,10859051.0,28000000.0,1000000000,Free,0.00,Everyone,Photography,"August 6, 2018",Varies with device,Varies with device,I think well laid quickly easily view collecti...,Positive,0.611111,0.777778,both,Photography,None
55952,Google Photos,PHOTOGRAPHY,4.5,10859051.0,28000000.0,1000000000,Free,0.00,Everyone,Photography,"August 6, 2018",Varies with device,Varies with device,I even really there. But since update gone pho...,Positive,0.566667,0.533333,both,Photography,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80365,DV KING,PHOTOGRAPHY,3.0,2.0,9.3,100,Free,0.00,Everyone,Photography,"September 19, 2017",1.0.0,2.2 and up,NaN,NaN,NaN,NaN,left_only,Photography,None
79606,Wallpaper.cz,PHOTOGRAPHY,4.9,7.0,2.2,100,Free,0.00,Everyone,Photography,"July 11, 2015",1.2.0,3.0 and up,NaN,NaN,NaN,NaN,left_only,Photography,None
80349,DV KING 4K,PHOTOGRAPHY,2.3,3.0,8.5,100,Free,0.00,Everyone,Photography,"July 17, 2018",1.0.10,4.0 and up,NaN,NaN,NaN,NaN,left_only,Photography,None
79679,LC-DB,PHOTOGRAPHY,3.0,1.0,2.5,10,Paid,3.49,Everyone,Photography,"October 20, 2017",1.0,4.2 and up,NaN,NaN,NaN,NaN,left_only,Photography,None
80245,PhotoFrame for Synology DS,PHOTOGRAPHY,4.0,1.0,2.6,10,Paid,4.99,Everyone,Photography,"February 2, 2017",1.5,4.0 and up,NaN,NaN,NaN,NaN,left_only,Photography,None

In [69]:
df3[df3['Type'] == 'Paid'].sort_values(by = ['Installs','Reviews', 'Rating'],ascending=False)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity,_merge,Genre1,Genre2
49208,Minecraft,FAMILY,4.5,2376564.0,71000000.0,10000000,Paid,6.99,Everyone 10+,Arcade;Action & Adventure,"July 24, 2018",1.5.2.1,Varies with device,NaN,NaN,NaN,NaN,left_only,Arcade,Action & Adventure
49209,Minecraft,FAMILY,4.5,2375336.0,71000000.0,10000000,Paid,6.99,Everyone 10+,Arcade;Action & Adventure,"July 24, 2018",1.5.2.1,Varies with device,NaN,NaN,NaN,NaN,left_only,Arcade,Action & Adventure
75377,Hitman Sniper,GAME,4.6,408292.0,29000000.0,10000000,Paid,0.99,Mature 17+,Action,"July 12, 2018",1.7.110758,4.1 and up,NaN,NaN,NaN,NaN,left_only,Action,None
78887,Grand Theft Auto: San Andreas,GAME,4.4,348962.0,26000000.0,1000000,Paid,6.99,Mature 17+,Action,"March 21, 2015",1.08,3.0 and up,NaN,NaN,NaN,NaN,left_only,Action,None
80260,Bloons TD 5,FAMILY,4.6,190086.0,94000000.0,1000000,Paid,2.99,Everyone,Strategy,"July 13, 2018",3.16,2.3.3 and up,NaN,NaN,NaN,NaN,left_only,Strategy,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76952,"ap,wifi testing,iperf,ping,android,Bluetooth,tcp",TOOLS,4.7,3.0,5.3,10,Paid,2.99,Everyone,Tools,"May 27, 2018",1.0.15,4.4 and up,NaN,NaN,NaN,NaN,left_only,Tools,None
79808,The DG Buddy,BUSINESS,3.7,3.0,11000000.0,10,Paid,2.49,Everyone,Business,"June 30, 2014",v3,2.2 and up,NaN,NaN,NaN,NaN,left_only,Business,None
80245,PhotoFrame for Synology DS,PHOTOGRAPHY,4.0,1.0,2.6,10,Paid,4.99,Everyone,Photography,"February 2, 2017",1.5,4.0 and up,NaN,NaN,NaN,NaN,left_only,Photography,None
79679,LC-DB,PHOTOGRAPHY,3.0,1.0,2.5,10,Paid,3.49,Everyone,Photography,"October 20, 2017",1.0,4.2 and up,NaN,NaN,NaN,NaN,left_only,Photography,None
75636,Speech Therapy: F,FAMILY,1.0,1.0,16000000.0,10,Paid,2.99,Everyone,Education,"October 7, 2016",1.0,2.3.3 and up,NaN,NaN,NaN,NaN,left_only,Education,None